/* @override http://archives.liv.ac.uk/ead/css/style.css */

/*
  This file was produced, and released as part of Cheshire for Archives v3.x
  Copyright &copy; 2005-2009 the University of Liverpool
*/

img {
    border: 0;
}

img.screenshot {
    padding: 10px;
    border: 2px inset black;
}

div#header {
    background-color: white;
    color: #000000;
    overflow:hidden;
}

div#navbar {
    padding-top: 0.4ex;
    padding-bottom: 0.4ex;
    width: 100%;
    background-color: maroon;
	font-variant: small-caps;
}

div.daos {
    background-color: #f5f5f5;
    border: 1px solid silver;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

div.daohead,
    div.daobody {
    padding: 0 1ex;
}

div.daohead {
    font-size: larger;
    font-weight: bold;
}

div.dao {
    padding: 1ex 0;
}

div#no-hits-img img {
    background-color: #f5f5f5;
    border: 1px solid silver;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    padding: 5px;
}

div#debugLog {
	background-color: #fffef3;
	margin-top: 2ex;
	border-top-style: inset;
}

/* TABLES */

td {
    vertical-align: baseline;
}

table.docRecord * td {
    padding: 0.25ex 1ex;
    border: 1px solid white;
    text-align: left;
}

td.attrName {
    background-color: whitesmoke;
    padding: 0.25ex 1ex;
    white-space: nowrap;
}

table.results {
    border-collapse: collapse;
    font-size: 11pt;
}

table.adminmenu {
}

table.rebuildtable {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 2ex 0
}

table.rebuildtable tr,
    table.rebuildtable td {
    border: 1px solid black;
    padding: 0 1ex;
}

tr.headrow {
    font-weight: bolder; /* like navbar */
/*  color: #ffffff;*/
/*  background-color: #0b2265;*/
/*dark blue*/
/* like titlebar */
    color: #000000;
    background-color: #c4d6f8;
}

tr.odd {
}

tr.even {
    background-color: #eeeeee;
}

td.hit,
    td.comphit {
    border-width: 0px 0 1px 0;
    border-color: black;
}

td.relv,
    td.hitcount {
    padding: 0 1ex;
    text-align: right;
}

table.facets tr.headrow {
}

table.facets tr.subheadrow {
    font-weight: bolder;
}

table.facets tr.even {
}

table.nassischneiderman {
    border-collapse: collapse;
    margin-top: 1em;
    margin-bottom: 1em;
}

table.nassischneiderman td {
    border: 1px solid black;
    vertical-align: top;
}

/* HEADINGS */

h1 {
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
    font-size: 140%;
}

h2 {
    font-size: 140%;
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
}

h2.unittitle {
    text-align: center;
    margin-bottom: 1em;
}

h3 {
    font-size: 120%;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}

.bar, h3.ead, h3.redheading, h3.greenheading {
    background-color: #c4d6f8;
    padding: 0.5ex;
    border: solid black 1px;
    margin: 1em 0 0.5em 0;
}

h3.redheading {
    background-color: #ffaaaa;
}

h3.greenheading {
    background-color: #aaffaa;
}

h4 {
    font-size: 120%;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

h5 {
    font-size: 120%;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

h5.minor {
    font-size: 110%;
    color: #0b2265;
    margin-left: 1ex;
}

h6 {
    font-size: 110%;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

/* LISTS */

ul.unmarked {
    margin-bottom: 1em;
}

ul.hierarchy {
    border-left: 1px dotted #aaaaaa;
}

/* Facets */
div.facet {
    font-size: 95%;
}

span.facethead {
    font-weight: bold;
}

span.facet-hitcount {
    color: #666;
}

ul.facetlist {
    list-style: square inside;
}

/*
ul.facetlist li:before {
    content: "\00BB \0020";
}
*/
ul.facetlist li.unmarked {
    list-style: none;
}

/* LINKS */

a.jscall {
    font-size: small;
    font-weight: normal;
}

.navbar {
    color: white;
    font-size: 110%;
    padding-bottom: 0px;
}

.navbar a:link,
    .navbar a:visited {
    color: white;
    text-decoration: none;
}

.navbar a:hover,
    .navbar a:visited:hover {
    color: white;
    text-decoration: underline;
}

a.buttonlink {
    display: block;
    color: black;
    text-align: center;
    background-color: #eeeeee;
    font-size: 95%;
    padding-left: 1ex;
    padding-right: 1ex;
    margin: 0.5ex;
    border: 2px outset #dddddd;
    text-decoration: none;
}

buttonlink:active {
    display: block;
    border: 2px inset #dddddd;
    text-decoration: none;
}

a.buttonlink:visited:hover {
    display: block;
    color: black;
    text-decoration: none;
}

/* text and spans */

.error {
    color: #cc0000;
    font-weight: bolder;
}

.ok {
    color: #009900;
    font-weight: bolder;
}

span.highlight {
    color: black;
    background-color: #ffaaaa;
}

span.subcount {
    color: #555555;
    font-size: smaller;
}

span.printlink {
    font-size: small;
    font-weight: normal;
}

label.small {
    font-size: smaller;
}

/* border and background colour for hit navigation bar */
.hitnav {
    border: 0;
    color: black;
}

/* border and background colour for page navigation bar */
div.pagenav {
    color: black;
    background-color: #f5f5f5;
    border: 1px solid #c0c0c0;
}

div.component {
    border-left: solid #aaaaaa 1px;
    padding-left: 5px;
}

div.passwdconfirm {
    background-color: #c4d6f8;
    padding: 1ex;
    border: solid black 1px;
}

div.button {
    float: left;
    padding-right: 30px;
    padding-top: 1ex;
}

div.explanation {
    float: none;
    height: 50px;
}

table {
    padding-top: 0;
}

.helpMark {
    background-color: #f4d6de;
    vertical-align: super;
    font-size: smaller;
    font-weight: bold;
    padding: 1 0.75ex;
    margin-left: .25ex;
}
