# Cheshire3 BerkeleyDB based *Store files and metadata
*Store.bdb
*Store_*.bdb

# Python compiled/optimized files
*.py[co]

# Python packaging/distribution
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Eclipse
*.pydevproject
.project
.metadata
.settings

# PyZ3950 cruft
PyZ3950_parsetab.*

# O/S file buffers
*~
