.float {
	float:left;
	}



.left {
	float: left;
}

.right {
	float: left;
}

br {
	clear: both;
}

.selected {
	background-color: yellow;
	}
	
.notSelected {
	background-color: #C0C0C0;
	}

#box {
	float: left;
	overflow: auto;
	border: 1px solid black;
	height: 2cm;
	width: 6cm;
	display: inline;
	background-color: white;
}

.arrows { float: left; }
.arrow { display: block; }


#browseWidget {
	padding: 10px;
	background-color: #C0C0C0;
}



