

body { 

	margin: 0px;
	background-color: white;
	font-family: Tahoma, Verdana, Arial, Sans Serif;
	font-size: 12px;

}



#header h3 {
	font-size: 16pt;
	margin-bottom: 10px;
	border-bottom: 4px #ffffff solid;
	padding-right: 20px;
	margin: 0px;
	text-align:right;
	background-color: #707070;
	color: #eee0e0;
}

#searchWidget {
	padding: 10px;

	background-color: #C0C0C0;
}

.searchComp {
	margin: 0px;
	float: left;
	padding-right: 12px;
}

.searchComp li {
	list-style-type:none;
	margin: 0px; 
}


#resultTabWidget {
	
		
}

.header {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	border-bottom: 1px solid black; 

}

.navigation {
	position: relative;
	margin-bottom: 12px;
	
}

.navigation .divider {
	margin-left: 6px;
	margin-right: 6px;	
}

.navigation .pageNavWidget {
	display: inline;
	margin-left: 6px;
	margin-right: 6px;
	padding: 10px;
	border: 1px solid black;

}

.resultCount {
	position: relative;
	float: left;
}


/*  KWIC formatting */

	.leftKwic { text-align: right;}
	.node { text-align: center; font-weight: bold; }
	
	.rightKwic { text-align: left; }



#kwicLines {
	clear: left;
	position: relative;
	height: 40%;
	overflow: auto;	
}

#kwicResults.table {
	font-size: 10pt;
	border-collapse: collapse;
	width: 600px;

}

#kwicResults tr.odd td {
	background-color: #f0fff0;	
}

#kwicResults .lineNum {
	padding-right: 20pt;	
	text-align: right;
	width: 5%;
}

#kwicResults td.left {
	text-align: right;	
	width: 40%;
	font-size: 10pt;
}

#kwicResults td.right {
	text-align: left;
	width: 40%;	
font-size: 10pt;
}


#kwicResults td.node {
	text-align: center;	
	font-weight: bold;
	padding-left: 12px;
	padding-right: 12px;
	width: 5%;
font-size: 10pt;
}





/* end KWIC formatting */



/* CSS from article.xsl */

					.articleDiv { border: 1px #303030 solid; padding: 12pt; margin-bottom: 20pt;
							font-size: 11pt; 
							position: relative;
		height: 40%;
		overflow: auto;
						}
					.articleDiv h2 { font-size: 14pt; }
					.bold { font-weight: bold; }
					.source { border-bottom: 1px solid black; font-size: 9pt; font-family: Arial;}

	.comments { margin-top: 20px; border-top: 0px solid #707070; margin-bottom: 10px; }
	

/* end article.xsl css */



/* CSS from JavaScript tabifier: http://www.barelyfitz.com/projects/tabber/ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 margin-top:1em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
 font: bold 12px Verdana, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
}

ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }

ul.tabbernav li a:hover
{
 color: #000;
 background: #AAE;
 border-color: #227;
}

ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:5px;
 border:1px solid #aaa;
 border-top:0;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page 
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}

*/



/* POPUP WINDOW */

.popupWindow {
	display: none;
	position: absolute;
	width: 7cm;
	left: 66%;
	top: 40%;
	border: 2px solid #303030;
	z-index: 1;
	background: #ffffff;
}

#popupWindowFrame td {
	font-size: 12pt;	
	border: solid 1px #505050;	
	padding: 6px;
}

#popupWindowFrame th {
	font-size: 12pt;	
	border: solid 1px #505050;	
	padding: 6px;
}

.popupHeader {
	width: 100%;
	background: #89aac7;
	height: 20px;
}

#popupWindowFrame {
	background: #ffffff;
	
	
}

#popupWindowFrame table {
	border-collapse: collapse;
	width: 100%;
}

#popupHeader #popupTitle {
	float: left; 
	padding-left: 4px;
	font-size: 12pt;
	
}

.popupWindow .close {
	float: right;
	font-size: 12pt;
	font-weight: bold;
}

.resultsSummaries {
	font-size: 12pt;	
}

.resultsSummaries div{
	margin-top: 12pt;	
}


/* frame results from complex syntax search */
.frameTable {
	border-collapse: collapse;
	
}

.frameTable td {
	border: solid 1px #404040;
	padding: 6px;
}
