/*
	This file was produced, and released as part of Cheshire for Archives v3.x
	Copyright &copy; 2005-2007 the University of Liverpool
*/

body {
	text-align: center;
}

body,
div#wrapper,
div#banner,
div#single,
div#leftcol,
div#rightcol,
div#footer
{
	position: static;
	margin: 0;
	padding: 0;
	text-align: left;
	clear: both;
}

div#wrapper {
	padding: 0 5px 0 5px;
}

div#single,
div#leftcol,
div#rightcol
{
	padding: 5px;
}

div#leftcol {
	float: left;
	width: 38%;
/*  content: block;*/
}
div#rightcol {
	margin-left: 40%;
	border-top: 1px solid white; /* to stop collapsing margins in Moz */
}

div#padder { 
	width:100%;
	float: right; 
	margin-left:-40%;
}

div#footer { 
	height: 6em;
	background: white;
	border-top: 2px solid silver;
	clear: both;
}
