/*
  This file was produced, and released as part of Cheshire for Archives v3.0.x
  Copyright &copy; 2005-2007 the University of Liverpool
*/

body { 
  color: black;
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
}

img { 
  border: 0;
}

img.screenshot {
	padding: 10px;
	border:	2px inset black;
}

div#banner { 
  color: #000000;
  background-color: #c4d6f8;
}
/*
.titlebar { 
  color: #000000;
  background-color: #c4d6f8;
}
*/

/* TABLES */

table.results {
	border-collapse: collapse;
	font-size: 12pt;
}

table.adminmenu { 
}

tr.headrow {
	font-weight: bolder;
/* like navbar */
/*  color: #ffffff;*/
/*  background-color: #0b2265;*/ /*dark blue*/
/* like titlebar */
	color: #000000;
	background-color: #c4d6f8;
}

tr.odd { 
  color: black;
  background-color: white;
  
}

tr.even {
  color: black;
  background-color: #eeeeee;
}

td.hit,
td.comphit {
	border: 1px solid black;
}

td.relv,
td.hitcount {
	padding-left: 10px;
	text-align: right;
}

table.nassischneiderman {
	border-collapse: collapse;
	margin-top: 1em;
	margin-bottom: 1em;
}

table.nassischneiderman td {
	border: 1px solid black;
	vertical-align:top;
}


/* HEADINGS */

h1 { font-size: 16pt; margin-top: 0.5em; margin-bottom: 0.5em;}
h2 { font-size: 16pt; margin-top: 0.25em; margin-bottom: 0.25em;}
h2.unittitle { text-align: center; margin-bottom: 1em;}
h3 { color: #000000; font-size: 14pt; margin-top: 0.1em; margin-bottom: 0.1em;}
h3.bar, h3.ead, h3.cheshireaddedheading{ background-color: #c4d6f8; padding: 2px; border: solid black 1px; margin: 1em 0 0.5em 0;}
h3.cheshireaddedheading { background-color: #ffaaaa; }
h4 {font-size: 14pt; margin-top: 0.1em; margin-bottom: 0.1em;}
h5 {font-size: 12pt; margin-top: 0.1em; margin-bottom: 0.1em;}


/* LISTS */

ul.unmarked {
  margin-bottom: 1em;
}

ul.hierarchy { 
  border-left: 1px dotted #aaaaaa;
}

/* LINKS */

a:link,
a:visited
{
  color: #0000dd;
  text-decoration: none;
}

a:hover,
a:visited:hover
{
  color: #6600ff;
  text-decoration: underline;
}

a.jscall {
  color: #0000ff;
  font-size: small;	
  font-weight: normal;
}

.navbar { 
  color: white;
  background-color: #0b2277; /*dark blue*/
  font-size: 11pt;
}
.navbar a:link,
.navbar a:visited
{
  color: white;
  text-decoration: none;
}
.navbar a:hover,
.navbar a:visited:hover {
  color: white;
  text-decoration: underline;
}

a.buttonlink {
  color: black;
  background-color: #eeeeee;
  font-size: smaller;
  padding-left: 5px;
  padding-right: 5px;
  margin: 2px;
  border: 2px outset #dddddd;
  text-decoration: none;
}

a.buttonlink:active {
  border: 2px inset #dddddd;
  text-decoration: none;
}

a.buttonlink:visited:hover {
  color: black;
  text-decoration: none;
}

/* text and spans */

p {
	padding: 0 0 0.2em 0;
	margin: 0.75em 0 0.75em 0;
}

.error { color: #ff0000; }
.ok { color: #009900;}

span.highlight { 
  color: black;
  background-color: #ffaaaa;
}

span.sys {
  font-family: Courier;
}

span.subcount {
  color: #555555;
  font-size: smaller;	
}

span.printlink {
  font-size: small;	
  font-weight: normal;
}

label.small { 
  font-size: smaller;
}

/* border and background colour for hit navigation bar */
.hitnav { 
  border: 0;
  color: black;
  background-color: white;
}

/* border and background colour for page navigation bar */
div.pagenav { 
  color: black;
  background-color: #dddddd;
  border: 1px solid #cccccc;
}

div.component {
  border-left: solid #aaaaaa 1px;
  padding-left: 5px;
}

.bar { background-color: #c4d6f8; padding: 2px; border: solid black 1px; }

div.passwdconfirm {
	background-color: #c4d6f8;
	padding: 5px;
	border: solid black 1px;	
}

table {
	padding-top: 0;
}
