.tabs ul {
    margin: 0;
    padding: 3px 0;
    border-bottom: 1px solid #778;
    font-weight: bold;
}

.tabs ul li {
    display: inline;
    padding: 3px 0.5em;
    margin-left: 3px;
    border-top: 1px solid #778;
    border-left: 1px solid #778;
    border-right: 1px solid #778;
    border-bottom: none;
    background: top repeat-x #89aac7;
    white-space: nowrap;
    color: white;
    cursor:pointer;
}


.tabs ul li.deactivated {
	background: #f0f0f0;
	color: #707070;
}

.tabs ul li.tab_selected {
    background: #fff;
    border-bottom: 1px solid #fff;
    color: black;
}

.tabCanvas {
	display: none; 
	padding: 12px;
	
	
}

.tab_visible {
	display: block;
}