<config type="database" id="db_apu">
	<objectType>database.SimpleDatabase</objectType>
	<paths>
		<path type="defaultPath">dbs/apu</path>
		<path type="metadataPath">stores/metadata.bdb</path>
		<path type="indexStoreList">indexStore</path>
		<object type="recordStore" ref="recordStore"/>
		<object type="tokenizer" ref="RegexpFindOffsetTokenizer"/>
		<object type="geniaNormalizer" ref="TokenizingUnparsedGeniaNormalizer"/>
	</paths>
	
	<subConfigs>

	<path type="includeConfigs">configWflows.xml</path>
	<path type="includeConfigs">configXPaths.xml</path>	
	<path type="includeConfigs">configIdxs.xml</path>
<!-- 	<path type="includeConfigs">configARM.xml</path>  -->
	
	<subConfig type="documentFactory" id="SimpleDocumentFactory">
		<objectType>documentFactory.SimpleDocumentFactory</objectType>
		<options>
			<default type="data">/home/cheshire/cheshire3/dbs/apu/data</default>
			<default type="format">dir</default>
			<default type="tagName">article</default>
			<default type="cache">0</default>				
		</options>
	</subConfig>

<!-- STORES -->

		<subConfig type="recordStore" id="recordStore">
			<objectType>recordStore.BdbRecordStore</objectType>
			<paths>
				<path type="defaultPath">stores</path>
				<path type="databasePath">recordStore.bdb</path>
				<object type="idNormalizer" ref="StringIntNormalizer"/>
		 		<object type="outParser" ref="LxmlParser"/>
				<object type="inTransformer" ref="XmlTransformer"/>  	 
			</paths>
			<options>
				<setting type="digest">sha</setting>
			</options>
		</subConfig>
		
		
		<subConfig type="documentStore" id="concordanceStore">
			 <objectType>postgres.PostgresDocumentStore</objectType>
			 <paths>
		       <path type="databaseName">db_apu</path>
		       <path type="tableName">concordanceStore</path>
		     </paths>	
		</subConfig> 
		
		<subConfig type="documentStore" id="collocateStore">
			 <objectType>postgres.PostgresDocumentStore</objectType>
			 <paths>
		       <path type="databaseName">db_apu</path>
		       <path type="tableName">collocateStore</path>
		     </paths>	
		</subConfig> 
		
		
		<subConfig type="resultSetStore" id="resultSetStore">
		     <objectType>postgres.PostgresResultSetStore</objectType>
		     <paths>
		       <path type="databaseName">db_apu</path>
		       <path type="tableName">resultSetStore</path>
		       <path type="recordStoreHash">recordStore</path>
		       <object type="idNormaliser" ref="StringIntNormaliser"/>
		     </paths>
		     <options>
		       <default type="expires">3600</default>
		     </options>
		</subConfig>
	    
		
		<subConfig type="indexStore" id="indexStore">
			<objectType>indexStore.BdbIndexStore</objectType>
			<paths>
				<path type="defaultPath">indexes</path>
				<path type="tempPath">temp</path>
				<path type="recordStoreHash">recordStore</path>
			</paths>
		</subConfig>
<!--END STORES -->

 		  <subConfig type="normalizer" id="PosTypeFilter">
		    <objectType>textmining.tmNormalizer.PosTypeNormalizer</objectType>
		    <options>
		     <setting type="posTypes">NN NNP NNS VB VBD VBZ VBG VBN VBP JJ JJS JJR</setting>
		    </options>
		     <imports>
		      <module>
		       <name>textmining</name>
		      </module>
		     </imports>
		   </subConfig>

		
<!-- ARM STUFF --> 
<!-- 
    <subConfig type="transformer" id="VectorTxr">
      <objectType>datamining.dmTransformer.VectorTransformer</objectType>
      <paths>
        <object type="vectorIndex" ref="ARM-content-idx"/>
      </paths>
      <imports>
         <module>
           <name>datamining</name>
         </module>
      </imports>
      <options>
        <setting type="label">0</setting>
        <setting type="minGlobalFreq">4</setting>
      </options>
    </subConfig>

    <subConfig type="documentFactory" id="accDocFac">
      <objectType>documentFactory.AccumulatingDocumentFactory</objectType>
      <paths>
        <object type="accumulatingTransformer" ref="VectorTxr"/>
      </paths>
    </subConfig>


    <subConfig type="preParser" id="FimiPreParser">
      <objectType>datamining.dmPreParser.Fimi1PreParser</objectType>
      <paths>
        <path type="filePath">/home/cheshire/cheshire3/code/datamining/apps/fimi</path>
      </paths>
      <options>
        <setting type="support">3</setting>
      </options>
    </subConfig>

    <subConfig type="preParser" id="RulePreParser">
      <objectType>datamining.dmPreParser.MatchToRulePreParser</objectType>
      <paths>
        <object type="unRenumberPreParser" ref="UnRenumberPreParser"/>
        <object type="recordStore" ref="recordStore"/>
        <object type="index" ref="ARM-content-idx"/>
      </paths>
      <options>
        <setting type="calcRankings">1</setting>
        <setting type="sortBy">entropy</setting>
      </options>
    </subConfig>

	<subConfig type="index" id="ARM-content-idx">
			<objectType>index.SimpleIndex</objectType>
			<paths>
				<object type="indexStore" ref="guardianIndexStore"/>
			</paths>
			<source>
				<xpath>body//s</xpath>
				<process>
					<object type="extractor" ref="SimpleExtractor"/>
					<object type="tokenizer" ref="RegexpFindTokenizer"/>
					<object type="tokenMerger" ref="SimpleTokenMerger"/>
					<object type="normalizer" ref="GuardianStopList"/>
					<object type="normalizer" ref="CaseNormalizer"/>
					<object type="normalizer" ref="PossessiveNormalizer"/>
				</process>
			</source>	
			<options>
				<setting type="vectors">1</setting>
			</options>		
		</subConfig>
		
		<subConfig type="normalizer" id="GuardianStopList">
			<objectType>normalizer.StoplistNormalizer</objectType>
			<paths>
				<path type="stoplist">stoplist.txt</path>
			</paths>
		</subConfig>
		-->
		<!--  END OF ARM STUFF --> 
		
	<subConfig type="transformer" id="geniaTransformer">
		<objectType>textmining.tmTransformer.GeniaTransformer</objectType>
		<paths>
			<object type="tokenizer" ref="RegexpFindOffsetTokenizer"/>
			<object type="geniaNormalizer" ref="TokenizingUnparsedGeniaNormalizer"/>
		</paths>
	</subConfig>
	 

    <subConfig type="normalizer" id="WordNamedNormalizer">
      <objectType>normalizer.NamedRegexpNormalizer</objectType>
      <options>
        <setting type="regexp">(?P&lt;word&gt;.+)/(?P&lt;pos&gt;.+)/(?P&lt;stem&gt;.+)</setting>
        <setting type="template">%(word)s</setting>
      </options>
    </subConfig>

    <subConfig type="normalizer" id="StemNamedNormalizer">
      <objectType>normalizer.NamedRegexpNormalizer</objectType>
      <options>
        <setting type="regexp">(?P&lt;word&gt;.+)/(?P&lt;pos&gt;.+)/(?P&lt;stem&gt;.+)</setting>
        <setting type="template">%(stem)s</setting>
      </options>
    </subConfig>

    <subConfig type="normalizer" id="PosNamedNormalizer">
      <objectType>normalizer.NamedRegexpNormalizer</objectType>
      <options>
        <setting type="regexp">(?P&lt;word&gt;.+)/(?P&lt;pos&gt;.+)/(?P&lt;stem&gt;.+)</setting>
        <setting type="template">%(pos)s</setting>
      </options>
    </subConfig>

    <subConfig type="normalizer" id="WordPosNamedNormalizer">
      <objectType>normalizer.NamedRegexpNormalizer</objectType>
      <options>
        <setting type="regexp">(?P&lt;word&gt;.+)/(?P&lt;pos&gt;.+)/(?P&lt;stem&gt;.+)</setting>
        <setting type="template">%(word)s/%(pos)s</setting>
      </options>
    </subConfig>

    <subConfig type="normalizer" id="StemPosNamedNormalizer">
      <objectType>normalizer.NamedRegexpNormalizer</objectType>
      <options>
        <setting type="regexp">(?P&lt;word&gt;.+)/(?P&lt;pos&gt;.+)/(?P&lt;stem&gt;.+)</setting>
        <setting type="template">%(stem)s/%(pos)s</setting>
      </options>
    </subConfig>

    <subConfig type="extractor" id="TaggedTermExtractor">
      <objectType>extractor.TaggedTermExtractor</objectType>
      <options>
         <setting type="prox">1</setting>
         <setting type="reversable">1</setting>
      </options>
    </subConfig>

    <subConfig type="extractor" id="SuppliedOffsetTokenizer">
      <objectType>tokenizer.SuppliedOffsetTokenizer</objectType>
    </subConfig>

    <subConfig type="extractor" id="PlusTokenizer">
      <objectType>tokenizer.SimpleTokenizer</objectType>
      <options>
        <setting type="char">+</setting>
      </options>
    </subConfig>


	<!--  Transformers  
	<subConfig type="transformer" id="headlines-Txr">
		<objectType>transformer.XsltTransformer</objectType>
		<paths>
			<path type="xsltPath">xsl/headlines.xsl</path>
		</paths>
	</subConfig>
	-->
	
	
	<subConfig type="transformer" id="corpusTransformer">
		<objectType>transformer.CorpusPrepTransformer</objectType>
		<paths>
			<object type="tokenizer" ref="RegexpFindOffsetTokenizer"/>
		</paths>
	</subConfig>
	
	<subConfig type="transformer" id="article-Txr">
		<objectType>transformer.LxmlXsltTransformer</objectType>
		<paths>
			<path type="xsltPath">xsl/article.xsl</path>
		</paths>
	</subConfig>
	
	<subConfig type="transformer" id="kwic-Txr">
		<objectType>transformer.LxmlXsltTransformer</objectType>
		<paths>
			<path type="xsltPath">xsl/kwic.xsl</path>
		</paths>
	</subConfig>
		
		<subConfig type="protocolMap">
			<objectType>protocolMap.CQLProtocolMap</objectType>
			<paths>
				<path type="zeerexPath">zeerex_srw.xml</path>
			</paths>
		</subConfig>
		
	<subConfig type="extracter" id="ProxExtracter">
 		 <objectType>extracter.SimpleExtracter</objectType>
 		 <options>
 		 	 <setting type="prox">1</setting>
 		 	 <setting type="reversable">1</setting>
 		 	 <setting type="extraSpaceElements">p s headline lead</setting> 		 
 		 </options>
	</subConfig> 		
	

		<subConfig type="extractor" id="SimpleExtractor">
  			<objectType>extractor.SimpleExtractor</objectType>
  			<options> 
  				<setting type="extraSpaceElements">p s headline lead</setting>	
  			</options>
		</subConfig>	
		
		<subConfig type="tokenMerger" id="2GramTokenMerger">
  			<objectType>tokenMerger.NGramTokenMerger</objectType>
  			<options>
 		 		<setting type="nValue">2</setting> 	
 		 	</options>
		</subConfig>
		<subConfig type="tokenMerger" id="3GramTokenMerger">
  			<objectType>tokenMerger.NGramTokenMerger</objectType>
  			<options>
 		 		<setting type="nValue">3</setting> 	
 		 	</options>
		</subConfig>
		<subConfig type="tokenMerger" id="4GramTokenMerger">
  			<objectType>tokenMerger.NGramTokenMerger</objectType>
  			<options>
 		 		<setting type="nValue">4</setting> 	
 		 	</options>
		</subConfig>
		<subConfig type="tokenMerger" id="5GramTokenMerger">
  			<objectType>tokenMerger.NGramTokenMerger</objectType>
  			<options>
 		 		<setting type="nValue">5</setting> 	
 		 	</options>
		</subConfig>
		
	</subConfigs>
</config>

