/* @override http://archives.liv.ac.uk/ead/css/struc-all.css */

/*
	This file was produced, and released as part of Cheshire for Archives v3.x
	Copyright &copy; 2005-2009 the University of Liverpool
*/

* {margin:0;padding:0;}

body {
  margin: 0;
  padding: 105px 10px 60px 0;
  /* Prevent body becoming narrower than wrapper - keeps the content from disappearing off the left edge with Gecko browsers */ 
  min-width: 770px;
  height: 100%;
}

div#header,
div#banner,
div#content,
div#leftcol,
div#rightcol,
div#single
{
	position: absolute;
	text-align: left;
	left: 0;
	overflow: hidden;
}

div#header,
div#banner,
div#navbar {
	position: fixed;
	width: 100%;
	z-index: 1;
}

div#header,
div#banner {
	top: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

div#header {
	height: 105px;	
}

div#banner {
	z-index: 2;
	height: 80px;
}

div#navbar {
	top: 80px;
	min-height: 25px;
	height: 1.5em;
	padding: 0 10px 0 10px;
	z-index: 3;
	overflow: visible;
	clear: both;
	vertical-align: middle;
}

div#banner div {
	margin-top: 5px;
	padding: 3px 20px 3px 10px;
}
div#crest{ float: left; }
img.rep-logo { max-height: 65px; }
div#c3logo{ float: right; }

div#content {
	top: 105px;
	bottom: 50px;
	width: 100%;
	overflow-y:auto;
	overflow-x: hidden !important;
}

div#single,
div#leftcol,
div#rightcol {
	top: 105;
	bottom: 0px;
	min-height: 10ex;
	padding: 5px 0px 1em 5px;
	overflow: auto;
}

div#leftcol {
	width: 39%;
	padding-left: 10px;
	min-width: 30em;
	border-right: 1px solid white;
	overflow-x: auto;
	overflow-y: scroll !important;
}

div#rightcol {
	/*padding-right: 5px;*/
	width: 59%;
	margin-left: 40%;
	overflow-x: auto;
	overflow-y: auto;
}

div#rightcol * {
	margin-right: 0.25em;
}

div#leftcol.editmenu,
div#rightcol.editmenu {
	width: 49%;
}

div#rightcol.editmenu {
	margin-left: 50%;
}

div#single,
div#browseresult {
	width: 98%;
	padding: 5px 5px;
}

div#leftcol div#browseresult {
	padding: 5px 0;
}

div#single div#about {
	margin-right: 260px;
}

div#footer {
	bottom: 0;
	z-index: 1;
	width: 100%;
	max-height: 50px;
	height: 50px;
	background: inherit;
	border-top: 2px solid silver;
	vertical-align: top;
}

@media screen {
	body>div#banner,
	body>div#leftcol,
	body>div#footer
	{
		position: fixed;
	}
}

div#no-hits-img {
	float:left;
	min-height: 200px;
}

div#technologies { 
  min-width:240px;
  padding: 5px;
  float: left;
}
div#supporters {
  float: left;
  min-width: 100px;
  padding: 5px 50px 5px 50px;
  margin-right: auto;
}

div#version,
div#copyright
{
  padding-right: 5px;
  text-align: right;
  font-size: smaller;
}

div#supporters-side {
	float: right;
	width: 250px;
	text-align: center;
	border-left: 2px solid silver;
}
div#supporters-side a {
	display: block;
	padding: 10px 0 10px 0
}

#hitreport { 
  margin-top: 10px;
  margin-bottom: 10px;
}

div.passwdconfirm {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.hitnav {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pagenav {
	padding:3px 0 3px 0;
}

.pagenav form {
	margin:0px;
}

.backlinks { 
  float: left;
  /*min-width: 85px;*/
  text-align:left;
}
.numnav { 
  margin-left: 85px;
  margin-right:85px;
  text-align:center;
}
.forwardlinks { 
  float:right;
  /*min-width: 85px;*/
  text-align: right;
}

ul { 
  padding-bottom: 2px;
}


ul li, ol li {
	margin-left: 30px;	
}

ul.hierarchy li,
ul.unmarked li {
  list-style-type: none;
  list-style-position: outside;
  margin-left: 0px;
  padding-left: 15px;
}

ul.hierarchy {
	margin-left: 5px;
	padding-bottom: 0;
}

ul.hierarchy li {
	clear: both;
	white-space: nowrap;
}

ul.facetlist li {
	list-style-position: outside;
	margin-left: 2em;
}

ul.facetlist li.unmarked {
	margin-left: 1em;
}

div.facet {
	padding-bottom: 10px;
}

div.toclist {
	clear: both;
	padding-bottom: 20px;
}

div.did,
div.eadheader {
	margin-bottom: 2px;
}
div.loading {
	padding: 5px;
	text-align: center;	
}

hr {
	clear: both;
	margin-bottom: 0;
	padding-bottom: 0;
}
div#full-link {
	float:right;
}

div.archdesc {
	padding-top: 10px;
	/*clear:both;*/
}

div.component {
	clear:both;
}

div.daos {
	width: 200px;
	float: right;
	padding-left: 2px;
	background-color: white;
}

div.dao {
	overflow-y: auto;
}

div.embed-img {
	
}

table.results {
	width:94%;
	max-width: 600px;
}

table.browseresults {
	width:94%;
}

td.term {
	min-width: 150px;
}

p {
	padding: 0 0 0.2em 0;
	margin: 0.75em 0 0.75em 0;
}

blockquote {
	padding: 0 20px 0.2em 20px;
}

